<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
</head>
<body>
    <h1>View the Ingredients</h1>
    <ul>
        <% ingredients.forEach(ingredient => { %>
         <li>
            <p><%= ingredient.name %></p>
         </li>
        <% }) %>
    </ul>

    <form action="/users/<%= user._id %>/ingredients" method="POST">

    </form>
</body>
</html>